@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #ffffff !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Custom Selection Color */
  ::selection {
    background-color: #f3d4e5;
    color: #630330;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #630330;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4a0224;
  }
}